<div class="page-wrapper">
    <passenger-topbar></passenger-topbar>

    <div class="create-trajet">
        <div class="create-trajet__container">
            <h2 class="form-title">Nouveau Trajet</h2>

            <form class="create-trajet__form">
                <div class="form-section">
                    <h3 class="section-title">
                        <i class="pi pi-map-marker"></i>
                        Détails du voyage
                    </h3>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="1">{{'trajet.villeDepart' | translate}}</label>
                            <p-dropdown [options]="villeDeparts" [(ngModel)]="item.villeDepart"
                                        id="1" name="villeDepart" [filter]="true" filterMatchMode="contains" [showClear]="true"
                                        optionLabel="libelle" placeholder="{{'trajet.villeDepart' | translate}}">
                            </p-dropdown>
                        </div>

                        <div class="form-group">
                            <label for="2">{{'trajet.villeDestination' | translate}}</label>
                            <p-dropdown [options]="villeDestinations" [(ngModel)]="item.villeDestination"
                                        id="2" name="villeDestination" [filter]="true" filterMatchMode="contains" [showClear]="true"
                                        optionLabel="libelle" placeholder="{{'trajet.villeDestination' | translate}}">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="8">{{'trajet.localisationSource' | translate}}</label>
                            <p-dropdown [options]="localisationSources" [(ngModel)]="item.localisationSource"
                                        id="8" name="localisationSource" [filter]="true" filterMatchMode="contains" [showClear]="true"
                                        optionLabel="libelle" placeholder="{{'trajet.localisationSource' | translate}}">
                            </p-dropdown>
                        </div>

                        <div class="form-group">
                            <label for="9">{{'trajet.localisationDestination' | translate}}</label>
                            <p-dropdown [options]="localisationDestinations" [(ngModel)]="item.localisationDestination"
                                        id="9" name="localisationDestination" [filter]="true" filterMatchMode="contains" [showClear]="true"
                                        optionLabel="libelle" placeholder="{{'trajet.localisationDestination' | translate}}">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h3 class="section-title">
                        <i class="pi pi-clock"></i>
                        Horaires
                    </h3>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="3">{{'trajet.horaireDepart' | translate}}</label>
                            <p-calendar id="3" name="horaireDepart" [showTime]="true" [showSeconds]="false"
                                        [(ngModel)]="item.horaireDepart" dateFormat="{{dateFormat}}" [showIcon]="true">
                            </p-calendar>
                        </div>

                        <div class="form-group">
                            <label for="4">{{'trajet.horaireArrive' | translate}}</label>
                            <p-calendar id="4" name="horaireArrive" [showTime]="true" [showSeconds]="false"
                                        [(ngModel)]="item.horaireArrive" dateFormat="{{dateFormat}}" [showIcon]="true">
                            </p-calendar>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h3 class="section-title">
                        <i class="pi pi-users"></i>
                        Détails supplémentaires
                    </h3>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="5">{{'trajet.placesDisponibles' | translate}}</label>
                            <p-inputNumber id="5" name="placesDisponibles" [(ngModel)]="item.placesDisponibles"
                                           [showButtons]="true" [min]="1" [max]="8" buttonLayout="horizontal"
                                           incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                            </p-inputNumber>
                        </div>

                        <div class="form-group">
                            <label for="6">{{'trajet.driver' | translate}}</label>
                            <p-dropdown [options]="drivers" [(ngModel)]="item.driver"
                                        id="6" name="driver" [filter]="true" filterMatchMode="contains" [showClear]="true"
                                        optionLabel="email" placeholder="{{'trajet.driver' | translate}}">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="create-trajet__actions">
                    <button pButton pRipple label="{{'cancel' | translate}}"
                            icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()">
                    </button>
                    <button pButton pRipple label="{{'validate' | translate}}"
                            icon="pi pi-check" (click)="save()">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<p-toast position="top-right"></p-toast>
