<div class="main-container">
    <p-toast></p-toast>
    <div class="card-container">
        <!-- Partie formulaire -->
        <div class="form-side">
            <div class="form-wrapper">
                <h2>Se connecter</h2>
                <div class="form-box">
                    <form (ngSubmit)="submit()">
                        <div class="form-group">
                            <input
                                id="username"
                                type="text"
                                [(ngModel)]="loginDto.username"
                                name="username"
                                placeholder="Adresse e-mail"
                                required
                            />
                        </div>
                        <div class="form-group">
                            <input
                                id="password"
                                [type]="showPassword ? 'text' : 'password'"
                                [(ngModel)]="loginDto.password"
                                name="password"
                                placeholder="Mot de passe"
                                required
                            />
                            <span class="toggle-password" (click)="togglePassword()">
        {{ showPassword ? '👁️' : '👁️' }}
    </span>
                        </div>

                        <button type="submit" class="btn-submit">Se connecter</button>

                        <p class="register-link">
                            Pas encore membre ? <a (click)="register()">Créer un compte</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <!-- Partie bleue -->
        <div class="blue-side">
            <img src="assets/layout/images/logo" alt="Logo" class="logo" />
            <div class="hero-content">
                <h1>Partagez vos trajets<br />en toute simplicité</h1>
                <p>
                    Trouvez des covoiturages fiables et économiques<br />
                    pour tous vos déplacements !
                </p>
            </div>

            <div class="testimonial">
                <p class="quote">
                    "Cette application de covoiturage est
                    révolutionnaire ! Simple à utiliser, fiable et
                    économique. Les trajets sont agréables et je fais
                    de belles rencontres. Je recommande vivement !"
                </p>
                <div class="author">
                    <img src="assets/demo/images/avatar/me.png" alt="" class="author-img" />
                    <div class="author-info">
                        <span class="name">Mohamed Saad</span>
                        <span class="role">Utilisateur régulier</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
