<div class="page-container">
    <div class="ride-component">
        <button class="back-button">
            <i class="pi pi-arrow-left"></i> Retour
        </button>
        <h2 class="date">lundi, 25 novembre</h2>
        <div class="route-details">
            <div class="stop">
                <div class="location">
                    <i class="pi pi-map-marker"></i> Marrakech
                </div>
                <div class="area">Gueliz</div>
                <div class="time">
                    <i class="pi pi-clock"></i> 08:30
                </div>
            </div>
            <div class="line">
                <span class="circle"></span>
                <span class="dotted-line"></span>
                <span class="circle"></span>
            </div>
            <div class="stop">
                <div class="location">
                    <i class="pi pi-map-marker"></i> Casablanca
                </div>
                <div class="area">Aïn Sebaa</div>
                <div class="time">
                    <i class="pi pi-clock"></i> 10:58
                </div>
            </div>
        </div>
        <div class="details">
            <div class="info">
                <span><i class="pi pi-user"></i> 1 restant</span>
                <span><i class="pi pi-car"></i> RENAULT</span>
                <span><i class="color-circle" style="background-color: black;"></i> Noir</span>
                <span><i class="pi pi-briefcase"></i> Petit</span>
                <span><i class="pi pi-directions"></i> Covoiturage direct</span>
            </div>
            <div class="price">
                Prix total pour 1 passager(s): <strong>127.68 DHS</strong>
            </div>
            <div class="driver">
                <img src="{{ item.driver.photo }}" alt="Driver photo" class="driver-photo"/>
                <span class="driver-name">{{ item.driver.username }}</span>
                <span class="rating">
                    <i class="pi pi-star-fill gold-star"></i> 0/5 - 0 avis
                </span>
            </div>
        </div>
        <!-- Bouton Réserver -->
        <div class="reserve-container">
            <button class="reserve-button">Réserver</button>
        </div>
    </div>
</div>
