$primary-color: #4052EE;
$logout-color: #FF4C4C; /* Red color for logout button */

/* General topbar styles */
.elegant-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 20px 20px;  // Adjusted vertical padding only
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    height: 70px;  // Fixed height adjusted
    box-sizing: border-box;
    background-color:white;  // Ensure background is white
}

.logo_top {
    width: 150px;  /* Adjust logo size */
    height: auto;
}

.profile-image {
    width: 60px;      /* Adjust image size */
    height: 60px;     /* Make sure it's square */
    border-radius: 50%; /* Circular avatar */
    margin-right: 8px; /* Space between image and text */
    border: 2px solid #fff; /* Optional: border around image */
}

.online-status {
    position: absolute;
    bottom: 6px;
    right: 160px;
    width: 10px;      /* Dot size */
    height: 10px;     /* Dot size */
    background-color: green; /* Green color for online status */
    border-radius: 50%; /* Circular dot */
    border: 2px solid white; /* Optional white border */
}

/* Left section styles */
.topbar-left {
    display: flex;
    align-items: center;
}

/* Center section styles (optional) */
.topbar-center {
    text-align: center;
    flex-grow: 1;
}

/* Right section styles */
.topbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

/* Buttons in the topbar */
.elegant-topbar-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.elegant-topbar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* Red color for the logout button */
.elegant-topbar-button.logout-btn {
    color:white;
    background-color:  $logout-color;
    border: 1px solid $logout-color;
    //shadow
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.elegant-topbar-button.logout-btn:hover {
    background-color: rgba(255, 76, 76, 0.1); /* Light red hover effect */
    border-radius: 4px;
}

/* Dropdown styles */
.language-dropdown {
    border-radius: 4px;
    color: #000;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .topbar-center {
        display: none;
    }

    .elegant-topbar-menu {
        flex-direction: column;
        gap: 10px;
    }

    .topbar-right {
        flex-direction: column;
    }

    .elegant-topbar-button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}
