<div class="layout-topbar elegant-topbar">

    <div>
       <a href="/app/passenger">
        <img src="assets/layout/images/carPool.png" alt="LOGO" class="logo_top">
           </a>
    </div>

    <!-- Right section with profile and actions -->
    <div #topbarmenu
         class="topbar-right elegant-topbar-menu"
         [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">


        <!-- Toggle Role Button -->
        <button class="p-link elegant-topbar-button" (click)="toggleRole()">
            <i [ngClass]="isDriver ? 'pi pi-user' : 'pi pi-car'"></i>
            <span>{{ isDriver ? 'Switch to Passenger' : 'Switch to Driver' }}</span>
        </button>


        <!-- Conversation button -->
        <button class="p-link elegant-topbar-button" (click)="openConversation()">
            <i class="pi pi-comment"></i>
            <span>Chats</span>
        </button>

        <!-- Profile button -->
        <button class="p-link elegant-topbar-button" (click)="edit(authenticatedUser)">
            <img src="assets/demo/images/avatar/me.png" alt="Profile" class="profile-image">
            <div class="online-status"></div>
        </button>

        <!-- Logout button -->
        <button class="p-link elegant-topbar-button logout-btn" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Sign Out</span>
        </button>
    </div>
</div>
