<p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'trajet.tabPan' | translate}}" [modal]="true" styleClass="p-fluid"  [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'trajet.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-11 md:col-6">
                        <label for="1">{{'trajet.villeDepart' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="villeDeparts" [(ngModel)]="item.villeDepart" id="1" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="libelle" placeholder="{{'trajet.villeDepart' | translate}}" [disabled]="true">
                        </p-dropdown>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="2">{{'trajet.villeDestination' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="villeDestinations" [(ngModel)]="item.villeDestination" id="2" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="libelle" placeholder="{{'trajet.villeDestination' | translate}}" [disabled]="true">
                        </p-dropdown>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'trajet.horaireDepart' | translate}}</label>
                        <p-calendar appendTo="body" id="3" [showTime]="true" [showSeconds]="false" placeholder="{{'trajet.horaireDepart' | translate}}" [(ngModel)]="item.horaireDepart"
                                    dateFormat="{{dateFormat}}" [disabled]="true">
                        </p-calendar>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'trajet.horaireArrive' | translate}}</label>
                        <p-calendar appendTo="body" id="4" [showTime]="true" [showSeconds]="false" placeholder="{{'trajet.horaireArrive' | translate}}" [(ngModel)]="item.horaireArrive"
                                    dateFormat="{{dateFormat}}" [disabled]="true">
                        </p-calendar>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="5">{{'trajet.placesDisponibles' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'trajet.placesDisponibles' | translate}}" [(ngModel)]="item.placesDisponibles" [disabled]="true">
                        </p-inputNumber>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="6">{{'trajet.driver' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="drivers" [(ngModel)]="item.driver" id="6" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="email" placeholder="{{'trajet.driver' | translate}}" [disabled]="true">
                        </p-dropdown>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div class="buttons-container">

                <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-check" class="btn-validate" (click)="edit()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>
