<div class="verification-container">

    <div class="header" style="margin-bottom: 80px;">
        <passenger-topbar></passenger-topbar>
    </div>
    <div class="header">

        <button class="back-button" href="javascript:history.back()">
                <i class="pi pi-arrow-left"></i>
                <span>Retour</span>
            </button>
    </div>

    <div class="content">

        <h2>Il semble que votre profil n'est pas encore vérifié</h2>
        <p>Pour des raisons de sécurité, tout conducteur doit avoir un profil vérifié avant de publier une offre. Merci de nous soumettre une photo d'une des pièces d'identité suivantes pour une vérification rapide.</p>

        <form (ngSubmit)="verifyDocument()">

            <!-- File Upload -->
            <p-fileUpload
                #fileUpload
                name="cinImage"
                (onSelect)="onSelect($event)"
                [multiple]="false"
                accept="image/*"
                maxFileSize="10000000"
                [auto]="false"
                [showUploadButton]="false"
                [showCancelButton]="false"
                [style]="{'width':'100%'}"
                styleClass="mb-4">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
            </p-fileUpload>

            <!-- Submit Button -->
            <button
                pButton
                type="submit"
                label="Verify Document"
                [disabled]="!selectedFile"
                class="w-full"
                >
            </button>
        </form>

    </div>
</div>


<p-toast position="top-right"></p-toast>
