<div>
    <div class="body background-image ">
        <br>
        <div class="header">
            <app-top></app-top>
        </div>

        <div class="transport-container ">

            <div class="header-title hero-section">
                <h1>Trouvez le moyen de transport idéal  pour vos trajets </h1>
                <p>Économisez, et voyagez facilement !</p>
            </div>



            <div>
                <div class="search-bar">
                    <div class=" flex justify-content-center search-card">
                        <!-- Unified Input Bar -->
                        <div class="unified-input">
                            <!-- Departure Autocomplete -->
                            <p-autoComplete
                                [(ngModel)]="this.item.villeDepart.libelle"
                                [dropdown]="true"
                                [suggestions]="filteredDepartures"
                                (completeMethod)="filterCountry($event, 'departure')"
                                field="libelle"
                                [placeholder]="'Départ'"
                                class="auto-complete"
                            ></p-autoComplete>


                            <!-- Destination Autocomplete -->
                            <p-autoComplete
                                [(ngModel)]="this.item.villeDestination.libelle"
                                [dropdown]="true"
                                [suggestions]="filteredDestinations"
                                (completeMethod)="filterCountry($event, 'destination')"
                                field="libelle"
                                [placeholder]="'Destination'"
                                class="auto-complete"
                            ></p-autoComplete>

                            <!-- Date Picker -->
                            <div class="input-group date-picker">
                                <p-calendar
                                    [showIcon]="true"
                                    [(ngModel)]="this.item.horaireDepart"
                                    inputId="icondisplay"
                                    [minDate]="today"
                                    [placeholder]="'Select Date'"
                                ></p-calendar>
                            </div>


                            <!-- Passenger Count -->
                            <div class="input-group passenger-count">
                                <p-inputNumber
                                    [(ngModel)]="item.placesDisponibles"
                                    [showButtons]="true"
                                    buttonLayout="horizontal"
                                    inputId="horizontal"
                                    spinnerMode="horizontal"
                                    [step]="1"
                                    incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus"
                                    [min]="1" [max]="4"
                                    />
                            </div>

                            <!-- Search Button -->
                            <button class="search-button" (click)="toSearch()">Recherche</button>
                        </div>


                    </div>
                </div>
            </div>


            <br><br><br><br>

            <div class="features">
                <h2>Nos fonctionnalités</h2>

                <div class="features-grid">
                    <div class="feature-item">
                        <i class="icon">✈️</i>
                        <h3>Réservez en un clic !</h3>
                        <p>Réserver un trajet n’a jamais été aussi facile ! Avec notre application intuitive et puissante, trouvez un trajet à proximité en quelques minutes.</p>
                    </div>
                    <div class="feature-item">
                        <i class="icon">🛡️</i>
                        <h3>Voyagez l'esprit tranquille</h3>
                        <p>Nous prenons le temps de connaître chacun de nos membres et partenaires de transport. Consultez les avis, vérifiez les profils et réservez votre trajet en toute sécurité sur notre plateforme fiable.</p>
                    </div>
                    <div class="feature-item">
                        <i class="icon">💸</i>
                        <h3>Votre choix de trajets à bas prix</h3>
                        <p>Peu importe où vous allez, que ce soit en bus ou en covoiturage, trouvez le trajet parfait parmi une large gamme de destinations à des prix abordables.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

