<div>
    <div class="body background-image ">
        <div class="header">
            <passenger-topbar></passenger-topbar>
        </div>
        <br>


        <div class="transport-container ">

            <div class="header-title hero-section">
                <h1>Trouvez le moyen de transport idéal pour vos trajets </h1>
                <p>Économisez, et voyagez facilement !</p>
            </div>

            <div>
                <div class="search-bar">
                    <passenger-search-bar></passenger-search-bar>
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div class="features">
            <h2>Nos fonctionnalités</h2>

            <div class="features-grid">
                <div class="feature-item">
                    <i class="icon">✈️</i>
                    <h3>Réservez en un clic !</h3>
                    <p>Réserver un trajet n’a jamais été aussi facile ! Avec notre application intuitive et puissante,
                        trouvez un trajet à proximité en quelques minutes.</p>
                </div>
                <div class="feature-item">
                    <i class="icon">🛡️</i>
                    <h3>Voyagez l'esprit tranquille</h3>
                    <p>Nous prenons le temps de connaître chacun de nos membres et partenaires de transport. Consultez
                        les avis, vérifiez les profils et réservez votre trajet en toute sécurité sur notre plateforme
                        fiable.</p>
                </div>
                <div class="feature-item">
                    <i class="icon">💸</i>
                    <h3>Votre choix de trajets à bas prix</h3>
                    <p>Peu importe où vous allez, que ce soit en bus ou en covoiturage, trouvez le trajet parfait parmi
                        une large gamme de destinations à des prix abordables.</p>
                </div>
            </div>
        </div>
    </div>

</div>

